* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .contact-page {
        margin-top: 200px;
        .container {
            width: 80%;
            margin: 0 auto;
            position: relative;
            .contact-page_desc {
                h1 {
                    font-family: "PT Serif", serif;
                    font-weight: 600;
                }
                p {
                    color: #5e5e5e;
                    padding-top: 20px;
                }
            }
            .form {
                margin-top: 50px;
                
                &_inputs {
                    // position: absolute;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    &-name {
                        .input-name {
                            width: 500px;
                            input {
                                margin-top: 10px;
                                width: 100%;
                                height: 44px;
                                border: 1px solid rgb(219, 219, 219);
                                color: rgb(41, 41, 41);
                                font-size: 15px;
                                line-height: 1.5;
                                font-weight: 400;
                                padding: 0px 15px;
                            }
                        }
                    }
                    &-email {
                        .input-email {
                            position: relative;
                            width: 500px;
                            input {
                                margin-top: 10px;
                                position: absolute;
                                width: 100%;
                                height: 44px;
                                border: 1px solid rgb(219, 219, 219);
                                color: rgb(41, 41, 41);
                                font-size: 15px;
                                line-height: 1.5;
                                font-weight: 400;
                                padding: 0px 15px;
                            }
                        }
                    }
                }
                &-text{
                    margin-top: 60px;
                    width: 100%;
                    textarea{
                        width: 100%;
                        margin-top: 10px;
                        border: 1px solid rgb(219, 219, 219);
                    }
                }
                &_button-submit{
                    padding: 10px 20px;
                    background-color: black;
                    color: white;
                    margin-top: 50px;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px){
   .contact-page{
    .container{
        .form{
            &_inputs {
                width: 100%;
                flex-direction: column;
                &-name {
                    .input-name {
                        width: 350px;
                        input {
                            width: 100%;
                        }
                    }
                }
                &-email {
                    .input-email {
                        width: 350px;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
            &-text{
                width: 100%;
                textarea{
                    width: 100%;
                }
            }
        }
    }
   }
    
}
@media only screen and (min-width: 577px){
    .contact-page{
        .container{
            .form{
                &_inputs {
                    flex-direction: row;
                    width: 100%;
                    &-name {
                        .input-name {
                            width: 200px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                    &-email {
                        .input-email {
                            width: 200px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
                &-text{
                    width: 100%;
                    textarea{
                        width: 100%;
                    }
                }
            }
        }
       }
}
@media only screen and (min-width: 992px) {
    .contact-page{
        .container{
            .form{
                &_inputs {
                    flex-direction: row;
                    width: 100%;
                    &-name {
                        .input-name {
                            width: 400px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                    &-email {
                        .input-email {
                            width: 400px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
                &-text{
                    width: 100%;
                    textarea{
                        width: 100%;
                    }
                }
            }
        }
       }
}
// @media only screen and (min-width: 992px) {
//     .contact-page{
//         .container{
//             .form{
//                 &_inputs {
//                     flex-direction: row;
//                     width: 100%;
//                     &-name {
//                         .input-name {
//                             width: 400px;
//                             input {
//                                 width: 100%;
//                             }
//                         }
//                     }
//                     &-email {
//                         .input-email {
//                             width: 400px;
//                             input {
//                                 width: 100%;
//                             }
//                         }
//                     }
//                 }
//                 &-text{
//                     width: 100%;
//                     textarea{
//                         width: 100%;
//                     }
//                 }
//             }
//         }
//        }
// }
@media only screen and (min-width: 1200px) {
    .contact-page{
        .container{
            .form{
                &_inputs {
                    flex-direction: row;
                    width: 100%;
                    &-name {
                        .input-name {
                            width: 500px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                    &-email {
                        .input-email {
                            width: 500px;
                            input {
                                width: 100%;
                            }
                        }
                    }
                }
                &-text{
                    width: 100%;
                    textarea{
                        width: 100%;
                    }
                }
            }
        }
       }
}