.products {
   margin-top: 100px;
   img {
      width: 100px;
      height: 60px;
      object-fit: cover;
   }
   .add_inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      width: 30%;
      margin: 0 auto;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 50px;
      margin-top: 40px;
      form {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         gap: 10px;
      }
      input {
         outline: none;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      background-color: rgb(171, 169, 169);
      }
      .btns{
         display: flex;
         gap:10px;
      }
   }
   .hidden{
      display: none;
   }
   .visible{
      display: visible;
   }
}
.btn{
   padding: 15px 30px;
   border-radius: 7px;
   border: none;
   color: white;
   font-weight: bold;
}
.btn-success{
   background-color: green;
   display: block;
}
.btn-danger{
   background-color: red;
   margin-right: 7px;
}
@media only screen and (max-width: 576px){
   TableContainer{
      width: 100%;
      margin: 0 auto;
   }
}
