* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .category {
        padding-top: 170px;
        .container {
            width: 80%;
            margin: 0 auto;
        }
        &-title {
            h1 {
                color: #d10068;
                font-weight: 700;
                font-family: "PT Serif", serif;
                font-size: 26px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                padding-top: 8px;
            }
        }
        hr {
            width: 85px;
            margin-top: 15px;
        }
        .second-section__products {
            width: 50%;
            position: relative;
            display: grid;
            grid-template-columns: 100% 100%;
            gap: 20px;
            padding-top: 50px;
            h2 {
                font-family: "PT Serif", serif;
                font-size: 32px;
                font-weight: 100;
                width: 500px;
                margin-left: 30px;
            }
            &-first {
                background-color: #f7f7f7;
                img {
                    width: 100%;
                    height: 350px;
                }
                &_desc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-top: 20px;
                    p {
                        margin-top: 20px;
                        margin-left: 60px;
                        color: #5e5e5e;
                        text-align: center;
                    }
                    &-btn {
                        margin-top: 40px;
                        padding: 10px 25px;
                        background-color: white;
                        border-radius: 3px;
                        border: none;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                        a {
                            color: black;
                            text-decoration: none;
                        }
                        &:hover {
                            background-color: black;
                            color: white;
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .category {
        .container {
            width: 80%;
            position: relative;
            .product {
                width: 100%;
                position: relative;
                img {
                    width: 100%;
                }
            }
        }
        .second-section__products {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            &-first {
                width: 100%;
                &_desc {
                    width: 100%;
                    h2 {
                        width: 100%;
                    }
                }
            }
        }
        h2 {
            font-size: 14px;
            width: 600px;
        }
        p {
            font-size: 10px;
            margin-left: 1px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .category {
        .container {
            h2 {
                font-size: 24px;
                width: 180px;
            }
            .second-section__products {
                &-first_desc {
                    width: 100%;
                    p {
                        font-size: 16px;
                        width: 180px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    .category {
        .container {
            h2 {
                font-size: 22px;
                width: 300px;
            }
            .second-section__products {
                &-first_desc {
                    width: 100%;
                    img {
                        height: 340px;
                    }
                    p {
                        font-size: 16px;
                        margin-left: 2px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .category {
        .container {
            h2 {
                font-size: 32px;
                width: 450px;
            }
            .second-section__products {
                p {
                    width: 500px;
                    margin-left: 7px;
                }
            }
        }
    }
}
