*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .first-section{
        margin-top: 120px;
        .container{
            width:80%;
            margin: 0 auto;
        }
        &__swipper-desc{
            margin-top: 50px;
            width:75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 150px;
            padding-bottom: 60px;
            h2{
                font-family: 'PT Serif', serif;
                font-size: 32px;
                font-weight: 100;
            }
            p{
                margin-top: 20px;
                color: #5e5e5e;
            }
            &-btn{
                margin-top: 40px;
                padding: 10px 25px;
                background-color: black;
                color:white;
                border-radius: 3px;
                border: none;
                text-transform: uppercase;
                &:hover{
                    background-color: #f73b98;
                }
            }
        }
    }
}
@media only screen and (max-width: 576px){
    .container{
        // width: 80%;
        // position:relative;
        margin-left: 0px;
    }
    SwiperSlide{
        width:100%;
        position: absolute;
        left: 0;
    }
    img{
        width:100%;
        // position: absolute;   
    }
    .first-section__swipper-desc{
        margin-left: 50px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    SwiperSlide{
        width: 100%;
    }
    img{
        width:100%;
        // position: absolute;   
    }
    .first-section__swipper-desc{
        margin-left: 70px;
    }
}
