*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .first-card{
        margin-top: 150px;
        .container{
            width: 80%;
            margin: 0 auto;
        }
        &_desc{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           h1{
            font-family: 'PT Serif', serif;
            font-size: 40px;
            font-weight: 100;
           }
           h2{
            font-weight: 100;
            padding-top: 5px;
            color:#d10068;
            font-weight: 400;
            font-size: 18px;
           }
           span{
            color: #62696f;
            padding-top: 5px;
           }
        }
        &_img{
            width: 100%;
            margin-top: 30px;
            img{
                width: 100%;
            }
        }
        &_message{
            width: 65%;
            margin: 0 auto;
            margin-top: 100px;
           p{
            color: rgb(94, 94, 94);
            font-size: 16px;
            line-height: 2;
           }
        }
        &_social-icons{
            margin-top: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
                gap:30px;
                li{
                    list-style: none;
                }
            }
        }
        hr{
            color: #f2f2f2;
            margin-top: 60px;
        }
        &_switch{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            a{
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                justify-content: center;
                gap:10px;
                h3{
                    font-weight: 100;
                    font-family: 'PT Serif', serif;
                }
            }
           
        }
    }
}